/* GLOBALS */
$colors: (
    purple: #81398b,
    purple-dark: #2f1946,
    purple-medium: #45124c,
    red: #fe4a5d,
    red-dark: #e22028,
    green: #00cfae,
    green-light: #e5faf7,
    light: #f4f4f4,
    blue: #2f53a3,
    grey-light: #ddd,
    grey: #444,
    dark: #222

);
$main-width: 1270px;
$font: "bpreplayregular";
$font-bold: "bpreplaybold";

@function color($color-name){
    @return map-get($colors, $color-name);
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;

    transition: opacity 0.6s, transform 0.6s;
    font-family: $font-bold, "Proxima Nova Soft", "Helvetica Neue", sans-serif;

    -webkit-tap-highlight-color: transparent;

}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    padding-bottom: 50vh;

    img {
        user-select: none;
        user-drag: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    span {
        user-select: none;
    }

    input {
        border-radius: 5px;
        padding-left: 10px;
        height: 35px;
        border: 2px solid color(grey-light);
        transition: border-color 0.6s;
        background-color: white;

        &:hover {
            border-color: color(green) !important;

        }
        &:focus{
            outline: none;
            border-color: color(green) !important;
        }
        &:active {

        }
    }
}

/*BUTTONS*/
.btn {
    border-radius: 4px;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: color(blue);
    color: white;

    padding: 2px;

    user-select: none;

    opacity: .7;

    &:hover{
        opacity: 1;
    }
    &:active {
        box-shadow: inset 0px 0px 5px color(dark);
    }
}




/* MENU */
.menu {
    position: absolute;
    top: 50px;
    left: calc(95% - 120px);
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &__burger{
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;

        span {
            color: color(purple-medium);
            font-weight: bold;
        }
    }
}
.menu__burger__bars-container {
    display: flex;
    flex-direction: column;

    margin-left: 10px;
    opacity: .8;

    &:hover{
        opacity: 1;
    }
    .menu__burger__bar {
        width: 33px;
        height: 5px;
        border-radius: 5px;
        background-color: color(red-dark);
        margin-bottom: 5px;
    }
}
.menu__dropdown {
    width: 150px;
    background-color: white;
    opacity: 0;
    padding-top: 8px;
    padding-bottom: 8px;

    margin-top: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);

    position: relative;
    border-radius: 3px;

    &::after {
        position: absolute;
        top: -10px;
        left: 80%;

        content: "";
        height: 0;
        width: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid white;
    }
    a {
        display: block;
        text-decoration: none;
        color: color(grey);
        padding: 5px 10px;

        &:hover{
            background-color: color(green-light);
        }
    }
    hr {
        margin: 5px 0;
        opacity: .5;
    }
}
/* SOCIAL */

.social {
    position: fixed;
    left: -35px;
    top: 40%;
    background-color: color(purple-medium);
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    border-radius: 0 5px 5px 0;
    opacity: .8;
    transition: left .5s, opacity .5s;

    img{
        height: auto;
        cursor: pointer;
        margin: 20px;
    }
    &:hover {
        opacity: 1;
        left: 0px;
    }
}




.main {
    max-width: $main-width;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}

/* TOP PIC */
.top-pic-container {
    height: 900px;
    width: 100%;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
}
.top-pic {
    position: absolute;
    min-width: 100%;
    opacity: .6;
    z-index: -1;
}
@media (max-width: $main-width){
    .top-pic{
        position: absolute;
        left: -50vw;
        opacity: .6;
        z-index: -1;
    }
    .menu {
        left: calc(95% - 180px);
    }
    .main-container {
        width: 100vw;
    }
}
/* TOP CONTAINER */
.main__top {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    img{
        max-width: 90vw;
    }
}
.title {
    margin-top: 70px;
    width: 800px;
}
.logo{
    width: 300px;
    margin-top: 160px;
}
.start-button {
    background-color: purple;
    padding: 5px 13px;
    border-radius: inherit;
    color: white;
    font-size: 15px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
        width: 40px;
        height: auto;
        display: inline-block;
        transform: rotate(90deg);
    }
}
.start-button-wrapper {
    margin-top: 50px;

    padding: 10px;
    background-color: transparent;

    border: 2px solid purple;
    border-radius: 150px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    opacity: .7;

    &:hover{
        opacity: 1;
        background: radial-gradient(purple, transparent);
    }
}


.cards{
    width: 500px;
    margin-top: 175px;
}

/* MID CONTAINER */

.quote {
    margin-top: 100px;
    max-width: 90vw;
}
.main__mid{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
}
@media(max-width: 1100px){
    .main__mid{
        flex-direction: column;
    }

}
.main__mid__pic{
    max-width: 40%;
}
/* SIGNUP */

.main__mid__sign-up{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 20px;

    .or {
        width: 90%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    input{
        width: 100%;
        margin-top: 5px;

        box-sizing: border-box;

        color: color(purple);

        &:hover{
            border-color: color(purple) !important;
        }
        &:focus{
            border-color: color(purple) !important;
        }
        &::placeholder{
            color: purple;
            opacity: .6;
        }
    }
    .btn{
        width: 300px;
        height: 30px;
    }

    .facebook-btn {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;

        img{
            margin-right: 8px;
            align-self: flex-start;
            margin-top: 7px;
        }
    }


    .letsgo-btn {
        margin-top: 10px;

        background-color: color(purple);
        color: white;
    }
}


/* BOTTOM CONTAINER */
.main__bottom {
    margin-top: 190px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}
.main__bottom__bg-pic {
    z-index: -1;
    position: absolute;
    width: 100vw;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    img {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
    }
}
.main__bottom__circles-pic {
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: $main-width;
    max-width: $main-width;
    height: auto;

}


/* JOIN CIRCLE */
.join-circle-wrapper{
    position: absolute;

    margin-left: auto;
    margin-right: auto;

    border-radius: 100%;
    border: 1px solid color(grey-light);
    background-color: transparent;
    padding: 30px;
    opacity: .8;

    .join-circle {
        height: 250px;
        width: 250px;
        background-color: white;
        border-radius: 50%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            max-width: 60%;
        }
    }

    &:hover{
        transform: scale(1.04);
        opacity: 1;
    }

    .join-circle-button {
        margin-top: 20px;
        background-color: color(red);
        padding: 10px;
    }
}

/* NEWSLETTER */
.subscribe-newsletter{
    margin-top: 60px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: color(green);
    flex-wrap: wrap;

    div {
        display: flex;
        flex-direction: row;
    }
    p {
        font-size: 20px;
        font-weight: bold;
        user-select: none;
    }
    input {
        margin-left: 10px;
        height: 40px;
        width: 250px;
        border-radius: 5px 0 0 5px;
        border-right-width: 0;
    }
    .btn{
        padding: 0 10px;
        background-color: color(green);
        border-radius: 0 5px 5px 0;
        height: 44px;
    }
}
@media (max-width:1000px){
    .newsletter{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: color(green);
    }
    .newsletter p {
        margin-bottom: 5px;
    }
}


/* FOOTER  */
.footer{
    &__menu{
        margin-top: 20px;
        width: 100%;

        background-color: color(light);
        padding: 15px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        list-style: none;

        a {
            color: color(purple-dark);
            text-decoration: none;
            font-weight: bold;
            margin: 10px;

            cursor: pointer;
        }
        li{
            margin-left: 50px;
        }
    }
    .footer__flags {
        list-style: none;
        padding: 10px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;


        border-bottom: 1px solid grey;
        li {
            margin-left: 8px;
            margin-right: 8px;
            cursor: pointer;
        }
    }

    .footer__copyright{
        margin-top: 20px;
        text-align: center;

        font-family: $font, sans-serif;
    }
}

